.projectInfo {
    /* background-color: var(--color-theme-main); */
    padding: var(--space-medium);
    display: flex;
    border-radius: var(--radius-medium);
    width: 100%;
    height: 70vh;
    border-radius: 25px;
    font-size: 25pt;
    box-shadow: inset 0 0 2000px rgba(63, 42, 117, 0.356);
}

.projectInfo:after {
    filter: blur(10px);
    background: inherit;
}

.projectInfo >*:first-child {
    width: 30%;
}

.projectInfo h3 {
    margin-bottom: var(--space-small);
    margin-top: var(--space-small);
}

.container:before {
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  filter: blur(10px);
  background: inherit;
}

.container {
    background: inherit;
}