.projectInfo {
    background-color: #0F0F3D;
    padding: var(--space-medium);
    display: flex;
    border-radius: var(--radius-medium);
    width: 100%;
    height: 45vh;
    font-size: 24pt;

    background: hsla(240, 14%, 10%, 1);
    background: linear-gradient(180deg, hsla(240, 14%, 10%, 1) 0%, hsla(170, 100%, 26%, 1) 0%, hsla(240, 14%, 10%, 1) 100%);
    background: -moz-linear-gradient(180deg, hsla(240, 14%, 10%, 1) 0%, hsla(170, 100%, 26%, 1) 0%, hsla(240, 14%, 10%, 1) 100%);
    background: -webkit-linear-gradient(180deg, hsla(240, 14%, 10%, 1) 0%, hsla(170, 100%, 26%, 1) 0%, hsla(240, 14%, 10%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#16161d", endColorstr="#008770", GradientType=1);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.projectInfo>*:first-child {
    width: 55%;
    display: flex;
    flex-direction: column;
}

.projectInfo h3 {
    margin-bottom: var(--space-small);
    margin-top: var(--space-small);
}
