.projectInfo {
    background-color: #0F0F3D;
    padding: var(--space-medium);
    display: flex;
    gap: var(--space-larger);
    flex-wrap: wrap;
    border-radius: var(--radius-medium);
    width: 100%;
    background: hsla(240, 14%, 10%, 1);
    background: linear-gradient(-90deg,hsla(240, 14%, 10%, 1) -50%, hsla(170, 100%, 26%, 1) 0%, hsla(240, 14%, 10%, 1) 150%);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.projectInfo img {
    object-fit: contain;
    width: 100%;
    border-radius: var(--radius-medium);
}

.projectInfo>*:first-child {
    display: flex;
    gap: var(--space-medium);
    flex-direction: column;
    width: 50%;
}

.projectInfo h3 {
    margin-bottom: var(--space-small);
    margin-top: var(--space-small);
}
